/* Copyright (c) 2023 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// Device tree includes for keyboard behaviors and bindings
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>
#include <dt-bindings/zmk/ext_power.h>

// German (QWERTZ) Layout Key Definitions
// Maps physical keys to correct HID keycodes for German keyboard layout
#define DE_Q    Q           // Q stays Q
#define DE_W    W           // W stays W
#define DE_E    E           // E stays E
#define DE_R    R           // R stays R
#define DE_T    T           // T stays T
#define DE_Z    Y           // Z is on Y position (QWERTZ swap)
#define DE_U    U           // U stays U
#define DE_I    I           // I stays I
#define DE_O    O           // O stays O
#define DE_P    P           // P stays P
#define DE_UE   LBKT        // Ü key position (where [ is)
#define DE_A    A           // A stays A
#define DE_S    S           // S stays S
#define DE_D    D           // D stays D
#define DE_F    F           // F stays F
#define DE_G    G           // G stays G
#define DE_H    H           // H stays H
#define DE_J    J           // J stays J
#define DE_K    K           // K stays K
#define DE_L    L           // L stays L
#define DE_OE   SEMI        // Ö key position (where ; is)
#define DE_AE   SQT         // Ä key position (where ' is)
#define DE_Y    Z           // Y is on Z position (QWERTZ swap)
#define DE_X    X           // X stays X
#define DE_C    C           // C stays C
#define DE_V    V           // V stays V
#define DE_B    B           // B stays B
#define DE_N    N           // N stays N
#define DE_M    M           // M stays M
#define DE_COMM COMMA       // , stays ,
#define DE_DOT  DOT         // . stays .
#define DE_MINS SLASH       // - (hyphen)
#define DE_SS   MINUS       // ß (sharp s)
#define DE_PLUS RBKT        // + key
#define DE_HASH BSLH        // # key

// LED strip configuration
&led_strip {
    chain-length = <31>; // Total LEDs: per-key + underglow
};

/ {
    behaviors {
        hm_l: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <70>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <6 7 8 9 10 11 18 19 20 21 22 23 30 31 32 33 34 35 41 42 43 44>;
        };
        hm_r: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <200>;
            quick-tap-ms = <175>;
            require-prior-idle-ms = <70>;
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 12 13 14 15 16 17 24 25 26 27 28 29 36 37 38 39>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // Primary QWERTZ layer - German layout
            // Homerow Mods: GUI - ALT - CTRL - SHIFT (Gacs/Scag pattern)
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                                          |  Z   |  U    |  I    |  O   |   P   |  Ü   |
            // |  TAB  |A/GUI|S/ALT|D/CTRL|F/SHFT|  G   |                                          |  H   |J/SHFT |K/CTRL |L/ALT |Ö/GUI  |  Ä   |
            // |  ß    |  Y  |  X  |  C   |  V   |  B   | LAYER 3 | LAYER 2 |  | LAYER 2 | LAYER 3 |  N   |  M    |  ,    |  .   |   -   |  #   |
            //                     | CTRL | GUI  | ALT  |  SPACE  | LAYER 1 |  | LAYER 2 |  ENTER  | BSPC |  DEL  | CTRL |
            bindings = <
            &kp TAB   &kp Q         &kp W         &kp E         &kp R         &kp T                                       &kp DE_Z  &kp U         &kp I         &kp O         &kp P             &kp DE_UE
            &kp ESC   &hm_l LGUI A  &hm_l LALT S  &hm_l LCTRL D &hm_l LSHFT F &kp G                                       &kp H     &hm_r RSHFT J &hm_r RCTRL K &hm_r RALT L  &hm_r RGUI DE_OE  &kp DE_AE
            &kp DE_SS &kp DE_Y      &kp X         &kp C         &kp V         &kp B     &mo 3      &mo 2    &mo 2 &mo 3   &kp N     &kp M         &kp COMMA     &kp DOT       &kp DE_MINS       &kp DE_HASH
                                                  &kp LCTRL     &kp LGUI      &kp LALT  &kp SPACE  &mo 1    &mo 2 &kp RET &kp BSPC  &kp DEL       &kp RCTRL
            >;
        };

        symbol_layer {
            // Symbols and numbers - Numpad-Layout rechts, Symbole links
            // Deutsche Sonderzeichen optimiert
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |   ~   |  !  |  @  |  {   |  }   |  |   |                                          |  *   |  7    |  8    |  9   |   /   |      |
            // |   `   |  #  |  $  |  (   |  )   |  =   |                                          |  +   |  4    |  5    |  6   |   <   |  >   |
            // |   "   |  %  |  &  |  [   |  ]   |      |         |         |  |         |         |  0   |  1    |  2    |  3   |   ^   |   °  |
            //                     |      |      |      |         |         |  |         |         |      |       |       |
            bindings = <
            &kp RA(LBRC)  &kp LS(N1)  &kp RA(Q)   &kp RA(N7)  &kp RA(N0)  &kp RA(NUBS)                                  &kp LS(RBRC)  &kp N7  &kp N8  &kp N9  &kp LS(N7)  &none
            &kp LS(BSLH)  &kp BSLH    &kp LS(N4)  &kp LS(N8)  &kp LS(N9)  &kp LS(N0)                                    &kp RBRC      &kp N4  &kp N5  &kp N6  &kp NUBS    &kp LS(NUBS)
            &kp LS(N2)    &kp LS(N5)  &kp LS(N6)  &kp RA(N8)  &kp RA(N9)  &none         &trans  &trans   &trans &trans  &kp N0        &kp N1  &kp N2  &kp N3  &kp TILDE   &kp LS(TILDE)
                                      &trans      &trans      &trans      &trans        &trans  &trans   &trans &trans  &trans        &trans
            >;
        };

        navigation_layer {
            // Navigation und Function Keys
            // Vim-artige Navigation auf rechter Homerow
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |  F1   | F2  | F3  |  F4  |  F5  |  F6  |                                          | HOME | PG_DN | PG_UP | END  |       |      |
            // |  F7   | F8  | F9  | F10  | F11  | F12  |                                          | LEFT | DOWN  |  UP   | RIGHT|       |      |
            // |       |     | Cut |Copy |Paste | Undo |         |         |  |         |         | C+A  | C+S   | C+F   | C+D  |  <    |  >   |
            //                     |      |      |      |         |         |  |         |         |      |       |       |
            bindings = <
            &kp F1    &kp F2    &kp F3    &kp F4    &kp F5    &kp F6                                      &kp HOME  &kp PG_DN &kp PG_UP &kp END   &none     &none
            &kp F7    &kp F8    &kp F9    &kp F10   &kp F11   &kp F12                                     &kp LEFT  &kp DOWN  &kp UP    &kp RIGHT &none     &none
            &none    &none &kp LC(X) &kp LC(C) &kp LC(V) &kp LC(Z) &trans &trans &trans &trans   &kp LC(A) &kp LC(S) &kp LC(F) &kp LC(D) &kp NUBS   &kp LS(NUBS)
                                          &trans    &trans    &trans        &trans &trans &trans &trans   &trans    &trans    &trans
            >;
        };

        rgb_bt_layer {
            // RGB lighting and Bluetooth control
            // Vereinfachtes Layout, keine Duplikate
            // ---------------------------------------------------------------------------------------------------------------------------------
            // |BT_CLR |BT_0   |BT_1   |BT_2   |BT_3   |BT_4   |                                       |       |       |RGB_BRI|RGB_BRD|OUT_TOG|ST_UNLOCK|
            // |RGB_TOG|RGB_HUI|RGB_SAI|RGB_SPI|       |       |                                       |BT_PRV |BT_NXT |       |       |OUT_USB|OUT_BLE|
            // |       |RGB_HUD|RGB_SAD|RGB_SPD|       |       |         |         |  |         |       |       |       |       |       |       |      |
            //                         |       |       |       |         |         |  |         |       |       |       |       |
            bindings = <
            &bt BT_CLR      &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3    &bt BT_SEL 4                                 &none          &none          &rgb_ug RGB_BRI &rgb_ug RGB_BRD &out OUT_TOG &studio_unlock
            &rgb_ug RGB_TOG &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_SPI  &none          &none                                       &bt BT_PRV      &bt BT_NXT      &none          &none          &out OUT_USB &out OUT_BLE
            &none          &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_SPD  &none          &none         &trans &trans &trans &trans     &none          &none          &none          &none          &none       &none
                                                            &trans           &trans          &trans       &trans &trans &trans &trans     &trans          &trans          &trans
            >;
        };
    };
};